<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.ordinaryroad.android.template.pkg">

    <application>
        <activity
            android:name=".TemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateHidden" />
    </application>


</manifest>
